<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3"  default="tb3_0"/>
  
  <group ns = "$(arg first_tb3)">
    <param name="odom"             value="/$(arg first_tb3)/odom"/>

  </group>
  <!-- Launch node -->
  <node pkg="rotation_robot" type="gotogoals_innerlane.py" name="gotogoals_innerlane" output="screen">
    
  </node>
</launch>
