<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="robot_name"  default="robot4"/>
  
  <!-- Launch node -->
  <node pkg="rotation_robot" type="gotogoals_outlane4.py" name="gotogoals_outlane4" output="screen">
    
  </node>
</launch>
