build/
devel/
DynamixelSDK/
turtlebot3/
turtlebot3_msgs/
logs/
.catkin_tools/
# cartographer에서 설치 파일 폴더 삭제 
src/cartographer/cartographer/scripts/abseil-cpp/
! turtlebot3/turtlebot3_description/
! turtlebot3_simulations/turtlebot3_gazebo/
! turtlebot3_simulations/turtlebot3_gazebo/src/auto
! turtlebot3_simulations/turtlebot3_gazebo/src

