[submodule "making_package/rtabmap"]
    path = making_package/rtabmap
    url = https://github.com/introlab/rtabmap.git

[submodule "src/cartographer/cartographer_ros"]
    path = src/cartographer/cartographer_ros
    url =  https://github.com/cartographer-project/cartographer_ros.git
