<launch>
  <arg name="rtabmap_viz" default="true" />
  <arg name="rviz" default="true" /> <!-- rviz 활성화 -->
  <arg name="localization" default="false"/>
  <arg name="initial_pose" default=""/>
  <arg name="loc_thr" default="0.0"/>
  <arg name="use_sim_time" default="false"/>
  <param if="$(arg use_sim_time)" name="use_sim_time" value="true"/>

  <arg name="cfg" default="" />
  <arg name="gui_cfg" default="~/.ros/rtabmap_gui.ini" />
  <arg name="rviz_cfg" default="$(find rtabmap_my)/launch/rtabmap_viz.rviz" />

  <arg name="frame_id" default="camera_link"/>
  <arg name="odom_frame_id" default="odom"/>
  <arg name="odom_frame_id_init" default=""/>
  <arg name="map_frame_id" default="map"/>
  <arg name="namespace" default="rtabmap"/>
  <arg name="database_path" default="~/.ros/rtabmap.db"/>
  <arg name="topic_queue_size" default="100"/>
  <arg name="queue_size" default="100"/>
  <arg name="sync_queue_size" default="$(arg queue_size)"/>
  <arg name="wait_for_transform" default="0.2"/>
  <arg name="args" default=""/>
  <arg name="rtabmap_args" default="$(arg args)"/>
  <arg name="gdb" default="false"/>
  <arg name="launch_prefix" default=""/>
  <arg name="clear_params" default="true"/>
  <arg name="output" default="screen"/>
  <arg name="publish_tf_map" default="true"/>
  <arg name="approx_sync" default="true"/>
  <arg name="approx_sync_max_interval" default="0"/>

  <!-- 사용하지 않는 토픽 설정 -->
  <arg name="rgb_topic" default="/camera/color/image_raw" />
  <arg name="camera_info_topic" default="/camera/color/camera_info" />

  <group ns="$(arg namespace)">
    <node pkg="rtabmap_odom" type="rgbd_odometry" name="rgbd_odometry" clear_params="$(arg clear_params)" output="$(arg output)">
      <remap from="rgb/image" to="$(arg rgb_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <param name="frame_id" value="$(arg frame_id)"/>
      <param name="odom_frame_id" value="$(arg odom_frame_id)"/>
      <param name="publish_tf" value="true"/>
      <param name="approx_sync" value="$(arg approx_sync)"/>
      <param name="approx_sync_max_interval" value="$(arg approx_sync_max_interval)"/>
      <param name="queue_size" value="$(arg topic_queue_size)"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" clear_params="$(arg clear_params)" output="$(arg output)" args="$(arg rtabmap_args)" launch-prefix="$(arg launch_prefix)">
      <param name="subscribe_rgb" type="bool" value="true"/>
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="map_frame_id" type="string" value="$(arg map_frame_id)"/>
      <param name="odom_frame_id" type="string" value="$(arg odom_frame_id)"/>
      <param name="odom_frame_id_init" type="string" value="$(arg odom_frame_id_init)"/>
      <param name="publish_tf" type="bool" value="$(arg publish_tf_map)"/>
      <param name="database_path" type="string" value="$(arg database_path)"/>
      <param name="approx_sync" type="bool" value="$(arg approx_sync)"/>
      <param name="approx_sync_max_interval" type="double" value="$(arg approx_sync_max_interval)"/>
      <param name="queue_size" value="$(arg topic_queue_size)"/>
      <remap from="rgb/image" to="$(arg rgb_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <remap from="odom" to="/rtabmap/odom"/>
    </node>

    <node if="$(arg rtabmap_viz)" pkg="rtabmap_viz" type="rtabmap_viz" name="rtabmap_viz" args="-d $(arg gui_cfg)" clear_params="$(arg clear_params)" output="$(arg output)">
      <param name="subscribe_rgb" type="bool" value="true"/>
      <param name="frame_id" type="string" value="$(arg frame_id)"/>
      <param name="odom_frame_id" type="string" value="$(arg odom_frame_id)"/>
      <param name="approx_sync" type="bool" value="$(arg approx_sync)"/>
      <param name="approx_sync_max_interval" type="double" value="$(arg approx_sync_max_interval)"/>
      <param name="queue_size" value="$(arg topic_queue_size)"/>
      <remap from="rgb/image" to="$(arg rgb_topic)"/>
      <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
      <remap from="odom" to="/rtabmap/odom"/>
    </node>

    <!-- RViz 노드 추가 -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)" output="screen"/>

  </group>

  <!-- TF 브로드캐스터 노드 추가 -->
  <node pkg="rtabmap_my" type="tf_broadcaster.py" name="tf_broadcaster" output="screen"/>
</launch>
